[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
ipython = "*"
django-debug-toolbar = "*"
python-decouple = "*"
cryptography = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
shortuuid = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
